SCADA/DatabaseManager/Service References/ServiceReference1/DatabaseManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2388/DatabaseManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="changeScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeScanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="tag" nillable="true" type="q1:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>