SCADA/DatabaseManager/Service References/ServiceReference1/DatabaseManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:double" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="on" type="xs:boolean" />
      <xs:element minOccurs="0" name="scanTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="AnalogTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="highLimit" type="xs:double" />
          <xs:element minOccurs="0" name="lowLimit" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogTag" nillable="true" type="tns:AnalogTag" />
  <xs:complexType name="DigitalTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalTag" nillable="true" type="tns:DigitalTag" />
</xs:schema>